.main-si-form {
  padding-top: 15em;
  display: block;
  height: inherit;
  margin: auto;
  height: 1100px;
  z-index: 1;
  /* padding-top: 14em;
  display: flex;
  justify-content: center;
  height: inherit;
  align-items: center;
  flex-direction: column;
  margin: auto; */
}

.si-form {
  max-width: 450px;
  margin: 0 auto;
  /* overflow ? */
}

.si-em-ctn,  
.si-pswd-ctn {
  min-width: 100%;
}

.si-form-error-alert {
  text-align: left;
  font-size: 11px;
  color: red;
}

.si-form-label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 2px;
  /* display: inline-block; */
}

.si-heading-text-form {
  color: #fff;
  font-size: 1.95em;
  text-align: center;
  display: block;
  padding: 1.5em auto;
  margin-bottom: 2em;
}

.si-input-form::placeholder {
  color: #ffffff4e;
}

.si-input-form[type=text], .si-input-form[type=email], .si-input-form[type=password] {
  display: block;
  width: 100%;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  height: 40px;
  padding: 0 .77em;
  margin: 8px auto;
  border-radius: 3px;
  border: 3px solid rgba(241, 241, 241, 0.648);
  transition: border-color 0.35s;
  background-color: rgba(255, 254, 239, 0.417);
}

.si-input-form[type=text]:focus, .si-input-form[type=email]:focus,  .si-input-form[type=password]:focus {
  outline: none;
  border: 3px solid transparent;
  border-color: #ffd064;
  /* background-image: linear-gradient(white, rgb(255, 255, 255)), linear-gradient(35deg, rgb(255, 230, 160), rgb(255, 235, 148), rgb(255, 249, 216)); */
  /* background-origin: border-box; */
  /* background-clip: padding-box, border-box; */
  /* animation: bg-hue 2s linear infinite; */
}
  
  /* @keyframes for the gradient animation */
/* @keyframes bg-hue {
  100% {
    filter: hue-rotate(360deg);
  }
} */
 
.si-btn-form {
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  border: 3.5px solid transparent;
  height: 50px;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  margin: 40px auto;
  transition: border-color 0.35s;
  background-color:#ffd064;
  color: #1b1b1b;
}

.si-btn-form:hover {
  transition: all .4s ease-in-out;
  border-color: #c7ac6e;
  color: #1b1b1b84;
}

.si-btn-form:focus,
.si-btn-form:focus-visible {
  outline: 3.5px auto #c7ac6e;
}

@media (max-width: 500px) {
  .si-form {
    width: 100%;
    max-width: 80vw;
  }
  .si-btn-form {
    font-size: 1.1em;
  }
}


    