.main-c-memory-ctn {
  padding-top: 11em;
  height: 1200px;
  margin: 0 2em;
}

.heading-c-memory {
  padding-bottom: 1em;
}

.ctn-c-memory-form {
  margin-top: 3em;
}

.cr-mry-btn {
  cursor: pointer;
  all: unset;
  background-color: #ffd58d;
  font-size: 24px;
  text-align: center;
  color: black;
  border-radius: 5px;
  padding: .59em 2.72em;
}

.ctn-c-memory-theme, .ctn-c-memory-cover, .ctn-c-memory-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2em;
}

.label-theme, .label-cover, .label-content {
  font-size: 1.2em;
  color: #ffffff;
  padding-bottom: 1em;
}

.input-theme[type=text], .input-cover[type=text], .input-content[type=text] {
  display: block;
  width: 80vw;
  font-family: inherit;
  font-size: 14px;
  height: 40px;
  padding: 0 .77em;
  margin: 27px 0;
  border-radius: 3px;
  border: 3px solid rgba(241, 241, 241, 0.648);
  background-color: rgba(255, 254, 239, 0.494);
  transition: border-color 0.35s;
}

.input-theme[type=text]:focus, .input-cover[type=text]:focus, .input-content[type=text]:focus  {
  outline: none; 
  border: 3px solid transparent;
  border-color: #ff2d7680;
}

/* 
.btn-c-memory {
  
} */
