.main-c-memory-ctn {
  padding-top: 11em;
  height: 1200px;
  margin: 0 2em;
}

.heading-c-memory {
  padding-bottom: 1em;
  color: #ffd58d;
}

.ctn-c-memory-form {
  margin-top: 3em;
}

.cr-mry-btn {
  cursor: pointer !important;
  all: unset;
  background-color: #ffd58d;
  font-size: 15px;
  text-align: center;
  color: black;
  border-radius: 5px;
  padding: .59em 2.72em;
  transition: all .3s ease;
}

.cr-mry-btn:hover {
  color: rgba(0, 0, 0, 0.473);
}

.ctn-c-memory-theme, .ctn-c-memory-cover, .ctn-c-memory-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2.7em;
}

.label-theme, .label-cover, .label-content {
  font-size: 1.2em;
  color: #fff;
  padding-bottom: 10px;
}

.input-theme[type=text], .input-cover[type=text], .input-content[type=text] {
  /* color: #fff; */
  display: block;
  width: 80vw;
  font-family: inherit;
  font-size: 14px;
  height: 40px;
  padding: 0 .77em;
  margin: 7px 0;
  border-radius: 3px;
  border: 3px solid #1b1b1b79;
  background-color: rgba(255, 254, 239, 0.494);
  transition: border-color 0.35s;
}

.input-theme[type=text]:focus, .input-cover[type=text]:focus, .input-content[type=text]:focus  {
  background-color: rgba(255, 254, 239, 0.744);
  outline: none; 
  border: 3px solid transparent;
  border-color: #ff2d7680;
}



@media (max-width: 500px) {
  .heading-c-memory {
    font-size: 23px;
  }
  .label-theme, .label-cover, .label-content  {
    font-size: 14px;
  }
}