.header {
  width: 100%;
  padding: 10px 15px;
  position: fixed;
  height: 70px;
  display: flex;
  top: 0;
  left: 0;
  background-color: #00000015;
  backdrop-filter: blur(20px);
  position: fixed;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  z-index: 6;
}

.container-link_home {
  padding: 10px 0;
} 

.auth-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-link {
  padding: 2em;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.auth-link > span {
  color: #fff;
  font-size: 18px;
}

.auth-link:hover > span {
  transition: all .2s ease;
  color: #ffffff9e;
}

@media only screen and (max-width: 750px) {
  .header {
    flex-direction: column;
    height: auto;
  }
  .auth-ctn {
    display: flex;
    padding: 10px 45px;
  }
  .auth-link {
    padding: 20px 10px;
  }
  .auth-link > span {
    font-size: 15px;
    white-space: nowrap;
  }
}
