.header {
  width: 100%;
  padding: 10px 15px;
  position: fixed;
  height: auto;
  display: flex;
  top: 0;
  left: 0;
  background-color: #ffe7a415;
  backdrop-filter: blur(52px);
  position: fixed;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  z-index: 6;
}

.container-link_home {
  padding: 10px 0 0 15px;
} 

.auth-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-link {
  padding: 2em;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.auth-link:hover {
  transition: all .77s ease;
  color: #fbd58e;
}

.auth-link>span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .auth-ctn {
    display: flex;
    padding: 10px 45px;
  }
  .auth-link {
    padding: inherit;
  }
  .auth-link>span {
    font-size: 15px;
    white-space: nowrap;
  }
}