.header {
  width: 100%;
  position: fixed;
  height: 75px;
  display: flex;
  top: 0;
  left: 0;
  background-color: #00000037;
  position: fixed;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.container-link_home {
  padding: 10px;
} 

.auth-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-link {
  padding: 20px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}