/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --sun-yellow: #ffd58d;
  --fade-black: #1b1b1b;
  --fade-grey: #909090;
}

body {
  background-color: #fff;
} */
