*, *::before, *::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Monument-Extended-Black';
  src: url('./fonts/monument-extended-black.woff2') format('woff2'),
  url('./fonts/monument-extended-black.woff') format('woff');
}

@font-face {
  font-family: 'Sohne-Breit-Dreiviertelfett';
  src: url('./fonts/sohne-breit-dreiviertelfett.woff') format('woff2'),
  url('./fonts/sohne-breit-dreiviertelfett.woff') format('woff');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

h3 {
  font-family: 'Monument-Extended-Black';
  color: grey;
}


/* a {
  color: #fff;
  text-decoration: none;
  /* word-wrap: initial; 
}

a:hover {
  transition: all .77s ease;
  color: #fbd58e;
  background-color: #1b1b1b;
} */

/* .banner {
  position: fixed; /* !important 
  width: 100%;
	background-size: 500% 500%;
  height: 300px;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  z-index: -100 !important;
} */

/* img, table, td, blockquote, code, pre, textarea, input, video, svg {
  max-width: 100%;
} */

img {
  color: transparent;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: url('/banner-header.png') center no-repeat;
  background-position-y: -3.5em;
  background-size: contain;  
  background-color: #5c576529;
  -webkit-text-size-adjust: 100%;   
  color: #1b1b1b;
  text-size-adjust: 100%;
  font-family: 'Sohne-Breit-Dreiviertelfett';
}


@media (max-width: 500px) {
  body {
    background-position-y: 7.5em;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 2.2em;
  font-family: "Monument-Extended-Black";
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffd374;
  }
  button {
    background-color: #f9f9f9;
  }
} */
